body{
    margin:0;
    padding:0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: white;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
body::-webkit-scrollbar{
	display: none;
}


a{
	position: relative;
	display: inline-block;
	padding: 12px 36px;
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius: 40px;
    background: linear-gradient(grey,#00008B);
}

.indexknap a{
	padding: 25px 200px;
	margin-bottom: 20px;
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
	font-weight:bold;
	font-size: 40px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(grey,#00008B);
}
.datatilsynet a{
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
	font-weight:bold;
	font-size: 16px;
	letter-spacing: 2px;
	margin-left: 15px;
	padding: 5px 5px;

}
.adminKnap {
	bottom: 8px;
	right: 16px;
	font-size: 18px;
	display: inline-block;
	padding: 10px 10px;
	margin-bottom: 15px;
	font-weight:bold;
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(grey,#00008B);
}
.video{
 display: block;
 margin: auto;
 align-items: center;

}
.formtext {
    margin: 10px 10px 0px 10px;
	font-family: sans-serif;
	font-size: 18px;
	padding: 30px;
    font-weight: bold;
	background: #d9d9d9;
}
input[type=number], select, [type=text], [type=password] {
	font-family: sans-serif;
	font-size:18px;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=submit] {
	width: 50%;
	background: linear-gradient(grey,#00008B);
	color: #fff;
	padding: 10px 200px 10px 200px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
	font-family: sans-serif;
	letter-spacing: 2px;
	text-decoration: none;
}

input[type=submit]:hover {
	background-color: #45a049;
}

img{
width:10em;
height:3em;
float: left;
}

.overskrift{
font-size: 40px;
	margin-bottom: 25px;
}

#billede{
width:10em;
height:3em;
float: right;
border: 1px solid black;
}

.topbar{
margin-bottom: 50px;
}
.check:before{
	content: '';
	position: absolute;
	width: 50px;
	height: 25px;
	background: #333;
	border-radius: 25px;
}
.check:after{
	content: '';
	position: absolute;
	left:0px;
	width:25px;
	height:25px;
	background: #fff;
	border-radius: 255px;
	transition: 0.25s;
	border: 2px solid #333;
	box-sizing: border-box;
}
.check:checked:after{
	left: 25px;
	border: 2px solid #00a1ff;
}
.container .content{
	display: none;
	margin-top: 20px;

}

.container .content.contentDanish{
	display:block;
}
.check:checked ~ .content.contentDanish{
	display: none;
}
.check:checked ~ .content.contentEnglish{
	display: block;
}

.container .styled-table{
	display: none;

}
.container .styled-table.contentDanish{
	display:table;
}
.check:checked ~ .styled-table.contentDanish{
	display: none;
}
.check:checked ~ .styled-table.contentEnglish{
	display: table;
}

.container .indexknap{
	display: none;

}
.container .indexknap.contentDanish{
	display:flex;
	position:absolute;
	left:calc(50% - 350px);
	top:calc(0% + 20px);
}
.check:checked ~ .indexknap.contentDanish{
	display: none;
}
.check:checked ~ .indexknap.contentEnglish{
	display:flex;
	position:absolute;
	left:calc(50% - 350px);
	top:calc(0% + 20px);
}
.check {
	position: relative;
	width: 50px;
}

#sprog{
	float:right;
	display:flex;
}

.container img {
	float: right;
	width:50px;
	height:25px;
}
.container [type ="checkbox"]
{
	float: right;
	display:flex;
}
.center{
	display: flex;
	justify-content: center;
}
#myButton{
	width: 50%;
	background: linear-gradient(grey,#00008B);
	color: #fff;
	padding: 10px 200px 10px 200px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
	font-family: sans-serif;
	letter-spacing: 2px;
	text-decoration: none;
}
#GDPRbox
{
	margin-top:15px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	float:left;
}
#GDPRbox input:checked ~ .checkmark {
	background-color: #2196F3;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.videoDisplay{
	margin-bottom: 10px;
}
.styled-table {
	border-collapse: collapse;
	margin-top: 30px;
	margin-left : auto;
	margin-right: auto;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.styled-table thead tr {
	background: linear-gradient(grey,#00008B);
	color: #ffffff;
	text-align: center;

}
.styled-table th,
.styled-table td {
	padding: 12px 15px;
	text-align: center;
}
.styled-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
	border-bottom: 2px solid #00008b;
}

.container .registerKnap{
	display: none;

}
.container .registerKnap.contentDanish{
	display:table;
}
.check:checked ~ .registerKnap.contentDanish{
	display: none;
}
.check:checked ~ .registerKnap.contentEnglish {
	display: table;
}

.container .grid-container{
	display: none;

}
.container .grid-container.contentDanish{
	display:grid;
}
.check:checked ~ .grid-container.contentDanish{
	display: none;
}
.check:checked ~ .grid-container.contentEnglish {
	display: grid;
}

.underrubrik {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	color: grey;
	padding-bottom: 20px;
}
[type=submit].gemSprog{
	float:right;
	width: 175px;
	background: linear-gradient(grey,#00008B);
	color: #fff;
	padding: 5px 5px 5px 5px;
	margin: 2px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
	font-family: sans-serif;
	letter-spacing: 2px;
	text-decoration: none;
}

.bekræftSletKnap{
	float: left;
	padding-top: 20px;
}
#advarselBillede{
	width:1em;
	height:1em;
}
#advarselsBox
{
	height: 20px;
	width: 20px;
	background-color: #eee;
	float:left;
}

.grid-container
{
	max-width: 1350px;
	margin: 0 auto;
	display:grid;
	grid-template-columns: repeat(3,1fr);
}
.grid-container > div
{
	text-align: center;
}


.udtraekFejl{

	text-align:center;
    color:red;
}



footer{
	display:grid;
	font-family: sans-serif;
	position:relative;
	width: 100%;
	height:auto;
	padding: 50px 100x;
	background: #F5F5DC;
	margin-top: 30px;
	border-top: 20px solid #00008b;

}

footer .container{
	width: 100%;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;

}
h2{
	margin-bottom: 20px;
}

#copyright{
	font-size:10;
}

.videoFormat{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:#333;
    color:white;
    margin-bottom:100px;
    padding: 200px 0;
    position:relative;
    overflow: hidden;
}

.videoForside{
    margin-top:30px;
    position:absolute;
    left:0;
    min-width:100%;
    min-height:100%;
}


.successMeddelelse{

    height:100px;
    width:200px;
    text-size: 40;
    color: green;

}
