<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="ui_styles.css">
    <meta charset="UTF-8">
    <title>Admin side</title>
</head>
<body>

<header class = "topbar">
    <img src="logo.jpg"/>
</header>

<div class="container">
    <div class="formtext">
<img src ="usa.jpg">
<input type="checkbox" name="mycheckbox" class="check" th:checked="${language} ? 'checked'">
<img src ="dk.jpeg" >


        <div class = "content contentDanish">
        <a href="http://localhost:8080/">Til forside</a>
        </div>
        <div class = "content contentEnglish">
        <a href="http://localhost:8080/">To Frontpage</a>
        </div>
        <br>
        <div class = "content contentDanish">
            <div class ="center">
                <text class = "overskrift"> Administrator</text>
            </div>
            <div class = "underrubrik"> Her er dine muligheder som administrator</div>
        </div>
        <div class = "content contentEnglish">
            <div class ="center">
                <text class = "overskrift">Administrator</text>
            </div>
            <div class = "underrubrik"> Here is your opportunities as an administrator</div>
        </div>
        <div class = "content contentDanish">
            <div class="center">
            <text th:if="${dataSlettet}" class="error">Alle personoplysninger ældre end 2 år er slettet </text>
            <text th:if="${GDPRdataslet}" class="error"> Alle data slettet</text>
            </div>
        </div>
        <div class="grid-container contentEnglish">
            <div class="center">
            <text th:if="${dataSlettet}" class="error">All personal information older than 2 years has been deleted </text>
            <text th:if="${GDPRdataslet}" class="error">All data deleted </text>
            </div>
        </div>

        <div class="grid-container contentDanish">
            <a class="firmalistKnap" href="http://localhost:8080/opretFirma">Tilføj firma på firmalisten</a>
            <a class="udtraek" href="http://localhost:8080/opretLogin">Opret login</a>
            <a class = "sletknapAdmin" href="http://localhost:8080/slet">Slet gammelt data</a>
            <a class="firmalistKnap" href="http://localhost:8080/fjernFirma">Fjern firma på firmalisten</a>
            <a class="udtraek" href="http://localhost:8080/historik">Udtræk data</a>
            <a class = "sletknapAdmin" href="http://localhost:8080/GDPRslet">Slet personoplysningern</a>

        </div>
        <div class="grid-container contentEnglish">
            <a class="firmalistKnap" href="http://localhost:8080/opretFirma">Add company on companylist</a>
            <a class="udtraek" href="http://localhost:8080/opretLogin">Create login</a>
            <a class = "sletknapAdmin" href="http://localhost:8080/slet">Delete old data</a>
            <a class="firmalistKnap" href="http://localhost:8080/fjernFirma">Remove company from companylist</a>
            <a class="udtraek" href="http://localhost:8080/historik">Get data</a>
            <a class = "sletknapAdmin" href="http://localhost:8080/GDPRslet">Delete personal information</a>


</div>
</div>
</div>


<footer>
    <div class= "container">
        <div class= "IntecSystem">
            <h2>Intec System ApS</h2>
            <p> Danmarksgade 6B</p>
            <p> 4690 Haslev</p>
            <p> Danmark</p>
        </div>

        <div class="Kundeservice">
            <h2>Kundeservice</h2>
            <p> tlf:+45 5672 0707</p>
            <p> e-mail: mh@intecsystem.dk</p>
            <p> CVR: 27956882</p>
        </div>

        <div class="information">
            <h2>Information</h2>
            <p> <a href="https://intecsystem.dk/om-os/" style="background:none; color:black; padding:0; font-family: sans-serif;">Om os</a></p>
            <p> <a href="https://intecsystem.dk/faq/" style="background:none; color:black; padding:0; font-family: sans-serif;">FAQ</a></p>
            <p> <a href="https://intecsystem.dk/privatlivspolitik/" style="background:none; color:black; padding:0; font-family: sans-serif;">Privatlivspolitik</a></p>
        </div>

        <div class="adminLogInKnap">
            <h2>
            </h2>
            <p id= "copyright"> Copyright &copy; 2023 Sercan, Emil, Kevin & Jakob</p>
        </div>
    </div>

</footer>


</body>
</html>