<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="ui_styles.css">
  <meta charset="UTF-8">
  <title>Fjern firma</title>
</head>
<body>

<header class = "topbar">
  <img src="logo.jpg"/>
</header>

<div class="container">
  <div class="formtext">

    <form action="http://localhost:8080/fjernFirma" method="post">

      <img src ="usa.jpg">
      <input type="checkbox" name="mycheckbox" class="check" th:checked="${language} ? 'checked'">
      <img src ="dk.jpeg" >

      <div class = "content contentDanish">
        <a href="http://localhost:8080/">Til forside</a>
      </div>
      <div class = "content contentEnglish">
        <a href="http://localhost:8080/">To Frontpage</a>
      </div>
      <br>
      <div class = "content contentDanish">
        <div class ="center">
          <text class = "overskrift"> Fjern firma</text>
        </div>
        <div class = "underrubrik"> Vælg det firma du vil fjerne fra listen over logistik firmaer</div>
      </div>
      <div class = "content contentEnglish">
        <div class ="center">
          <text class = "overskrift">Remove company</text>
        </div>
        <div class = "underrubrik"> Select the company you want to remove from the logistic company list</div>
      </div>

      <div class = "content contentDanish">
        <th: for="valgtfirma" >Firma</th:>
      </div>
      <div class = "content contentEnglish">
        <th: for="valgtfirma" >Company</th:>
      </div>

      <select name="valgtfirma">
        <option th:each="firma : ${firmaliste}"
                th:value="${firma.firmanavn}"
                th:text="${firma.firmanavn}">
        </option>

      </select>

      <div class ="center">
          <input type="submit" value="Accept">
      </div>





    </form>
  </div>



</div>

</body>
</html>