<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="ui_styles.css">
  <meta charset="UTF-8">
  <title>Opret login</title>
</head>
<body>

<header class = "topbar">
  <img src="logo.jpg"/>
</header>

<div class="container">
  <div class="formtext">

    <form action="http://localhost:8080/GDPRslet" method="post">

      <img src ="usa.jpg">
      <input type="checkbox" name="mycheckbox" class="check" th:checked="${language} ? 'checked'">
      <img src ="dk.jpeg" >

      <div class = "content contentDanish">
        <a href="http://localhost:8080/">Til forside</a>
      </div>
      <div class = "content contentEnglish">
        <a href="http://localhost:8080/">To Frontpage</a>
      </div>
      <br>
      <div class = "content contentDanish">
        <div class ="center">
          <text class = "overskrift"> Indtast ID nummer på den person der skal slettes</text>
        </div>
      </div>
      <div class = "content contentEnglish">
        <div class ="center">
          <text class = "overskrift">Enter the ID number for the person to be deleted </text>
        </div>
      </div>

      <div class = "content contentDanish">
        <th: for="idnr" >ID nummer på personen</th:>
      </div>
      <div class = "content contentEnglish">
        <th: for="idnr" >ID number for the person</th:>
      </div>
      <input type="text" th:value="${idnr}" name="idnr" />

      <div class ="center">
          <input type="submit" value="Accept">
      </div>





    </form>
  </div>



</div>

</body>
</html>