<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="ui_styles.css">
  <meta charset="UTF-8">
  <title>Data</title>
</head>
<body>

<header class = "topbar">
  <img src="logo.jpg"/>
</header>

<div class="container">
  <div class="formtext">

    <form action="http://localhost:8080/historik" method="post">

      <img src ="usa.jpg">
      <input type="checkbox" name="mycheckbox" class="check" th:checked="${language} ? 'checked'">
      <img src ="dk.jpeg" >

      <div class = "content contentDanish">
        <div class ="center">
          <text class = "overskrift"> Søgning af data</text>
        </div>
        <div class = "underrubrik"> Indtast enten et id nummer, og/eller en startdato og slutdato</div>
      </div>
      <div class = "content contentEnglish">
        <div class ="center">
          <text class = "overskrift">Search of data</text>
        </div>
        <div class = "underrubrik"> Type in either an id number, and/or a startdate and a end date</div>
      </div>


      <div class = "content contentDanish">
        <a href="http://localhost:8080/">Til forside</a>
      </div>
      <div class = "content contentEnglish">
        <a href="http://localhost:8080/">To Frontpage</a>
      </div>

      <div class = "content contentDanish">
         <th: for="idnr" >Kørekort-eller Pasnummer</th:>
      </div>
      <div class = "content contentEnglish">
         <th: for="idnr" >Drivers  og Passportnumber</th:>
      </div>
      <input type="number" th:value="${idnr}" name="idnr"/>

       <div class = "content contentDanish">
          <th: for="startdato" >Start dato</th:>
       </div>
      <div class = "content contentEnglish">
        <th: for="startdato" >Start date</th:>
      </div>
      <input type="text" th:value="${startdato}" name="startdato" th:placeholder="${placeholder}"/>

      <div class = "content contentDanish">
        <th: for="slutdato" >Slut dato</th:>
      </div>
      <div class = "content contentEnglish">
        <th: for="slutdato" >End date</th:>
      </div>
  <input type="text" th:value="${startdato}" name="slutdato" th:placeholder="${placeholder}"/>
      <div class ="center">
        <input type="submit" value="Accept">
      </div>

      <table class="styled-table contentDanish">
        <thead>
        <tr>
          <th>Registrering ID</th>
          <th>ID Nummer</th>
          <th>Fornavn</th>
          <th>Efternavn</th>
          <th>Firmanavn</th>
          <th>Lokation</th>
          <th>Tidspunkt</th>
        </tr>
        </thead>
    <tr th:each="Registrering : ${historikListen}">
    <td th:text="${Registrering.id}"></td>
    <td th:text="${Registrering.registreringPerson.idNR}"></td>
    <td th:text="${Registrering.registreringPerson.fornavn}"></td>
    <td th:text="${Registrering.registreringPerson.efternavn}"></td>
    <td th:text="${Registrering.firma.firmanavn}"></td>
    <td th:text="${Registrering.lokation}"></td>
    <td th:text="${Registrering.tjekinTidspunkt}"></td>
    </tr>
      </table>

      <table class="styled-table contentEnglish">
        <thead>
        <tr>
          <th>Registration ID</th>
          <th>ID Number</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Company Name</th>
          <th>Location</th>
          <th>Time and Date</th>
        </tr>
        </thead>
        <tr th:each="Registrering : ${historikListen}">
          <td th:text="${Registrering.id}"></td>
          <td th:text="${Registrering.registreringPerson.idNR}"></td>
          <td th:text="${Registrering.registreringPerson.fornavn}"></td>
          <td th:text="${Registrering.registreringPerson.efternavn}"></td>
          <td th:text="${Registrering.firma.firmanavn}"></td>
          <td th:text="${Registrering.lokation}"></td>
          <td th:text="${Registrering.tjekinTidspunkt}"></td>
        </tr>
      </table>
    </form>

  </div>
</div>
</div>
</body>