<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="ui_styles.css">
    <meta charset="UTF-8">
    <title>Intec forside</title>
</head>

<body>
<header>
    <div class="item">
    <img src="logo.jpg" style="width:10em; height:3em;" />
    </div>
</div>
</header>
 <div class="container">
        <form action="http://localhost:8080/" method="post" th:object="${language}">

            <img src ="usa.jpg">
            <input type="checkbox" name="mycheckbox" class="check" th:checked="${language} ? 'checked'">
            <img src ="dk.jpeg">
            <br>
            <div class = "content contentDanish">
            <input type="submit" class="gemSprog" value="Gem sprogvalg">
            </div>
            <div class="content contentEnglish">
                <input type="submit" class="gemSprog" value="Save language">
            </div>

                <div class ="indexknap contentDanish">
                    <div class = "center">
                        <a href="http://localhost:8080/registrer">Registrer besøg</a>
                    </div>
                </div>
                <div class ="indexknap contentEnglish">
                    <div class = "center">
                        <a href="http://localhost:8080/registrer">Register visit</a>
                    </div>
                </div>
     </form>
 </div>
</div>

<div class = "videoFormat">
    <video  class = "videoForside" autoplay muted loop src="forsidevideo.mp4" >
        <source src="forsidevideo.mp4">
        <source src="forsidevideo.WebM">
    </video>
</div>

<footer>
    <div class= "container">
        <div class= "IntecSystem">
            <h2>Intec System ApS</h2>
            <p> Danmarksgade 6B</p>
            <p> 4690 Haslev</p>
            <p> Danmark</p>
        </div>

        <div class="Kundeservice">
            <h2>Kundeservice</h2>
            <p> tlf:+45 5672 0707</p>
            <p> e-mail: mh@intecsystem.dk</p>
            <p> CVR: 27956882</p>
        </div>

        <div class="information">
            <h2>information</h2>
            <p> <a href="https://intecsystem.dk/om-os/" style="background:none; color:black; padding:0; font-family: sans-serif;">om os</a></p>
            <p> <a href="https://intecsystem.dk/faq/" style="background:none; color:black; padding:0; font-family: sans-serif;">FAQ</a></p>
            <p> <a href="https://intecsystem.dk/privatlivspolitik/" style="background:none; color:black; padding:0; font-family: sans-serif;">privatlivspolitik</a></p>
        </div>

        <div class="adminLogInKnap">
            <h2>
                <a href="http://localhost:8080/login" class = "adminKnap">Admin login</a>
            </h2>
            <p id= "copyright"> Copyright &copy; 2023 Sercan, Emil, Kevin & Jakob</p>
        </div>
    </div>

</footer>





</body>
</html>
