<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="ui_styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<div class="container">
    <div class="item">
        <img src="logo.jpg" style="width:10em; height:3em;" />
    </div>

    <div class="item">
        <center>
            <a href="http://localhost:8080/registrer" class = "indexknap">Registrer besøg</a>

        </center>
    </div>
</div>
<center>
<video controls autoplay muted loop src="forsidevideo.mp4" width="1200">
    <source src="forsidevideo.mp4">
    <source src="forsidevideo.WebM">
</video>
</center>

</body>
</html>
