<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="ui_styles.css">
    <meta charset="UTF-8">
    <title>Log ind</title>
</head>
<body>
<header class = "topbar">
  <img src="logo.jpg"/>
</header>
<div class="container">

<div class="formtext">
    <form action="http://localhost:8080/login" method="post" th:object="${login}">



        <img src ="usa.jpg">
        <input type="checkbox" name="mycheckbox" class="check" th:checked="${language} ? 'checked'">
        <img src ="dk.jpeg" >

        <div class = "content contentDanish">
            <div class ="center">
                <td th:if="${loginError}" class="error">Forkerte login oplysninger, prøv igen. </td>
            </div>
        </div>
        <div class = "content contentEnglish">
            <div class ="center">
                <td th:if="${loginError}" class="error"> Error in login, please try again</td>
            </div>
        </div>

        <div class = "content contentDanish">
            <a href="http://localhost:8080/">Til forside</a>
        </div>
        <div class = "content contentEnglish">
            <a href="http://localhost:8080/">To Frontpage</a>
        </div>
        <br>

        <div class = "content contentDanish">
            <div class ="center">
                <text class = "overskrift"> Indtast din log ind oplysninger </text>
            </div>
        </div>
        <div class = "content contentEnglish">
            <div class ="center">
                <text class = "overskrift">Enter your log in information </text>
            </div>
        </div>
        <div class = "content contentDanish">
            <th: for="brugernavn" >Brugernavn</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="brugernavn" >Username</th:>
        </div>
        <input type="text" th:field="*{brugernavn}" name="brugernavn" />

        <div class = "content contentDanish">
            <th: for="kode" >Kode</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="kode" >Password</th:>
        </div>
        <input type="password" th:field="*{kode}" name="kode" />




        <div class="center">
            <input type="submit" value="Login">
        </div>
    </form>
</div>

</div>
</div>
</body>
</html>