<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="ui_styles.css">
    <meta charset="UTF-8">
    <title>Log ind</title>
</head>
<body>
<header class = "topbar">
  <img src="logo.jpg"/>
</header>
<div class="container">

<div class="formtext">
    <form action="http://localhost:8080/login" method="post" th:object="${login}">



        <img src ="usa.jpg">
        <input type="checkbox" name="mycheckbox" class="check" th:checked="${language} ? 'checked'">
        <img src ="dk.jpeg" >

        <div class = "content contentDanish">
            <div class ="center">
                <td th:if="${loginError}" class="error">Forkerte login oplysninger, prøv igen. </td>
            </div>
        </div>
        <div class = "content contentEnglish">
            <div class ="center">
                <td th:if="${loginError}" class="error"> Error in login, please try again</td>
            </div>
        </div>

        <div class = "content contentDanish">
            <a href="http://localhost:8080/">Til forside</a>
        </div>
        <div class = "content contentEnglish">
            <a href="http://localhost:8080/">To Frontpage</a>
        </div>
        <br>

        <div class = "content contentDanish">
            <div class ="center">
                <text class = "overskrift"> Indtast din log ind oplysninger </text>
            </div>
        </div>
        <div class = "content contentEnglish">
            <div class ="center">
                <text class = "overskrift">Enter your log in information </text>
            </div>
        </div>
        <div class = "content contentDanish">
            <th: for="brugernavn" >Brugernavn</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="brugernavn" >Username</th:>
        </div>
        <input type="text" th:field="*{brugernavn}" name="brugernavn" />

        <div class = "content contentDanish">
            <th: for="kode" >Kode</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="kode" >Password</th:>
        </div>
        <input type="password" th:field="*{kode}" name="kode" />




        <div class="center">
            <input type="submit" value="Login">
        </div>
    </form>
</div>

</div>
</div>

<footer>
    <div class= "container">
        <div class= "IntecSystem">
            <h2>Intec System ApS</h2>
            <p> Danmarksgade 6B</p>
            <p> 4690 Haslev</p>
            <p> Danmark</p>
        </div>

        <div class="Kundeservice">
            <h2>Kundeservice</h2>
            <p> tlf:+45 5672 0707</p>
            <p> e-mail: mh@intecsystem.dk</p>
            <p> CVR: 27956882</p>
        </div>

        <div class="information">
            <h2>Information</h2>
            <p> <a href="https://intecsystem.dk/om-os/" style="background:none; color:black; padding:0; font-family: sans-serif;">Om os</a></p>
            <p> <a href="https://intecsystem.dk/faq/" style="background:none; color:black; padding:0; font-family: sans-serif;">FAQ</a></p>
            <p> <a href="https://intecsystem.dk/privatlivspolitik/" style="background:none; color:black; padding:0; font-family: sans-serif;">Privatlivspolitik</a></p>
        </div>

        <div class="adminLogInKnap">
            <h2>
            </h2>
            <p id= "copyright"> Copyright &copy; 2023 Sercan, Emil, Kevin & Jakob</p>
        </div>
    </div>

</footer>

</body>
</html>