<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="stylesheet" href="ui_styles.css">
  <meta charset="UTF-8">
  <title>Opret firma</title>
</head>
<body>

<header class = "topbar">
  <img src="logo.jpg"/>
</header>

<div class="container">
  <div class="formtext">

    <form action="http://localhost:8080/opretFirma" method="post">

      <img src ="usa.jpg">
      <input type="checkbox" name="mycheckbox" class="check" th:checked="${language} ? 'checked'">
      <img src ="dk.jpeg" >

      <div class = "content contentDanish">
        <a href="http://localhost:8080/">Til forside</a>
      </div>
      <div class = "content contentEnglish">
        <a href="http://localhost:8080/">To Frontpage</a>
      </div>
      <br>
      <div class = "content contentDanish">
        <div class ="center">
          <text class = "overskrift"> Indtast Firma oplysninger </text>
        </div>
        <text class = "underrubrik"> Firmanavnet bliver tilføjet til listen for logistikfirmaerne</text>
      </div>
      <div class = "content contentEnglish">
        <div class ="center">
          <text class = "overskrift">Enter company information </text>
        </div>
        <text class = "underrubrik"> The companyname will be added to the list of logistic companies</text>
      </div>

      <div class = "content contentDanish">
        <th: for="firma" >Firmanavn</th:>
      </div>
      <div class = "content contentEnglish">
        <th: for="firma" >Companyname</th:>
      </div>
      <input type="text" th:value="${firma}" name="firma" />

      <div class ="center">
          <input type="submit" value="Accept">
      </div>





    </form>
  </div>



</div>

</body>
</html>