<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="ui_styles.css">
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header class = "topbar">
    <img src="logo.jpg"/>
</header>

<div class ="container">
    <div class="formtext">


    <form action="http://localhost:8080/registrer" method="post" th:object="${person}" enctype="multipart/form-data">


        <img src ="usa.jpg">
        <input type="checkbox" name="mycheckbox" class="check" th:checked="${language} ? 'checked'">
        <img src ="dk.jpeg" >

        <div class = "content contentDanish">
        <a href="http://localhost:8080/">Til forside</a>
        </div>
        <div class = "content contentEnglish">
            <a href="http://localhost:8080/">To Frontpage</a>
        </div>
        <br>


        <div class = "content contentDanish">
            <div class ="center">
                <div class = "successMeddelelse">
                    <td th:if="${success}" class="error">Du er nu registreret.

                        <script>
                    var timer = setTimeout(function() {
                    window.location='http://localhost:8080/'
                    }, 8000);
                </script>

                    </td>
                </div>
            </div>
        </div>
        <div class = "content contentEnglish">
            <div class ="center">
                <div class = "successMeddelelse">
                    <td th:if="${success}" class="error"> You are now registered
                        <script>
                    var timer = setTimeout(function() {
                    window.location='http://localhost:8080/'
                    }, 8000);
                </script>
                    </td>
                </div>
            </div>
        </div>





        <div class = "content contentDanish">
             <div class ="center">
                 <text class = "overskrift"> Indtast dine oplysninger </text>
            </div>
        </div>
        <div class = "content contentEnglish">
            <div class ="center">
                <text class = "overskrift">Enter your information </text>
            </div>
        </div>
        <input type="checkbox" id="GDPRbox" th:attr="data-target='#myButton'"/>
        <div class = "content contentDanish">

        <text style="float:left"> Jeg giver samtykke til at mine data bliver opbevaret af intec af sikkerhedsmæssige grunde. Læs mere: </text> <div class="datatilsynet"><a href="https://www.datatilsynet.dk/hvad-siger-reglerne/grundlaeggende-begreber" title="Link til Datatilsynet grundlæggende begreber">Datatilsynet</a></div>
        </div>
        <div class = "content contentEnglish">
                <text style="float:left">I consent to my data being stored by Intec for security reasons.  Read More: </text> <div class="datatilsynet"><a href="https://www.datatilsynet.dk/hvad-siger-reglerne/grundlaeggende-begreber" title="Link to Datatilsynet">Datatilsynet</a></div>
        </div>
        <br>
        <div class = "content contentDanish">
        <th: for="fname" >Fornavn</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="fname" >First name</th:>
        </div>
        <input type="text" th:field="*{fornavn}" name="fname" />
        <div class = "content contentDanish">
            <th: for="lname" >Efternavn</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="lname" >Last name</th:>
        </div>
        <input type="text" th:field="*{efternavn}" name="lname" />
        <div class = "content contentDanish">
            <th: for="idNR" >Kørekort eller pas nummer</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="idNR" >Drivers license or passport ID</th:>
        </div>
        <!-- (fjern th:field="*{idNR} irrelevant i postMapping, skal ikke vise en persons oplysninger) -->
        <!-- (historik: th:value="${idNR}") -->
        <input type="number" name="idNR" />
        <div class = "content contentDanish">
            <th: for="valgtfirma" >Firma</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="valgtfirma" >Company</th:>
        </div>

    <select name="valgtfirma">
            <option value=""></option>
        <option th:each="firma : ${firmaliste}"
                th:value="${firma.firmanavn}"
                th:text="${firma.firmanavn}">
        </option>

    </select>
        <div class = "content contentDanish">
            <th: for="otherFirmanavn" >Firma ikke på listen</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="otherFirmanavn" >Company not listed</th:>
        </div>

    <input type="text" th:value="${otherFirmanavn}" name="otherFirmanavn" th:placeholder="${placeholder}" />
        <div class = "content contentDanish">
            <th: for="image" >Billede af ID</th:>
        </div>
        <div class = "content contentEnglish">
            <th: for="otherFirmanavn" >Picture of ID</th:>
        </div>
        <input type="file" name="image" accept="image/*">


    <div class ="center">
        <button id="myButton" type="submit" disabled="disabled">Check in</button>
    </div>

        <div class = "content contentDanish">
    <div class ="center">
     <td th:if="${opretError}" class="error">Fejl i indtastning, prøv igen. </td>
    </div>
        </div>
        <div class = "content contentEnglish">
            <div class ="center">
                <td th:if="${opretError}" class="error"> Error in input, please check the form and try again</td>
            </div>
        </div>

    </form>

        <script th:inline="javascript">
            $(document).ready(function() {
                $('#GDPRbox').click(function() {
                    var isChecked = $(this).prop('checked');
                    $('#myButton').prop('disabled', !isChecked);
                });
            });
        </script>







</div>
</div>

<footer>
    <div class= "container">
        <div class= "IntecSystem">
            <h2>Intec System ApS</h2>
            <p> Danmarksgade 6B</p>
            <p> 4690 Haslev</p>
            <p> Danmark</p>
        </div>

        <div class="Kundeservice">
            <h2>Kundeservice</h2>
            <p> tlf:+45 5672 0707</p>
            <p> e-mail: mh@intecsystem.dk</p>
            <p> CVR: 27956882</p>
        </div>

        <div class="information">
            <h2>information</h2>
            <p> <a href="https://intecsystem.dk/om-os/" style="background:none; color:black; padding:0; font-family: sans-serif;">om os</a></p>
            <p> <a href="https://intecsystem.dk/faq/" style="background:none; color:black; padding:0; font-family: sans-serif;">FAQ</a></p>
            <p> <a href="https://intecsystem.dk/privatlivspolitik/" style="background:none; color:black; padding:0; font-family: sans-serif;">privatlivspolitik</a></p>
        </div>

        <div class="adminLogInKnap">
            <h2>
            </h2>
            <p id= "copyright"> Copyright &copy; 2023 Sercan, Emil, Kevin & Jakob</p>
        </div>
    </div>

</footer>
</body>
</html>